h1{
    text-align: center;
    margin: auto;
    color: aqua;
}
h2 {
    text-align: center;
    margin: auto;
    
}
a{
    color:rgb(35, 190, 144);
    text-decoration: none;
}
a:hover {
    color: rgb(23, 206, 151);
}

#main {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: auto;
    height: auto;
}
div {
    display: block;
    background: aqua;
    border-radius: 65%;
    height: 50%;
    padding: 20px;
    margin: 15px;
}
