h1 {
    text-align: center;
    margin: 5px;
}

p , fieldset , .output {
    color: lightseagreen;    
    font-size: 24px;
    background-color: gray;
    margin: 3px;
}

.game {
    background-color: gray;
}

body {
    background-color: bisque;
}

 

 